<!doctype html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>
    <h1>Add Student</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form action="/student/add" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name"><br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name"><br><br>

        <input type="submit" value="Add Student">
    </form>

    <p><a href="/dashboard">Back to Dashboard</a></p>
</body>
</html>
